/* Layout */
.budget-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.budget-content {
  flex: 1 1 0%;
  min-width: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.budgeting-summary-container,
.categories-container,
.transactions-container {
  background-color: white;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow:
    0 0 0 2px #f0f0f0,
    0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 15px 0;
}

.getting-started {
  background: #f7f9fc;
  border: 1px solid #e0e4eb;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.getting-started h2 {
  color: #333;
  margin-bottom: 10px;
}

.getting-started ol {
  margin-top: 10px;
  padding-left: 20px;
  line-height: 1.6;
}

.add-btn {
  background-color: #80cfa9;
  color:black;
  border: none;
  padding: 15px;
  border-radius: 12px;
  font-family: inherit;
  font-weight: bold;
}

.add-btn:hover{
  background-color: #66b68f;
  color: white;
  transform: scale(1.03);
}

@media (max-width: 600px) {
    .budget-content {
        grid-template-columns: 1fr;
    }
}



