.active {
  background-color: #A7E8BD;
}

header .navBar {
  display: flex;
  align-items: center;
  background-color: #e7eced;
  justify-content: space-between;
  position:sticky;
  top: 0;
  width: 100%;
  height: auto;
}

.menu {
  padding: 15px;
  align-items: center;
}

.navBar img{
  filter: drop-shadow(#D6CEC3, 1px 1px 2px);
  max-height: 50px;
  width: auto;
  text-decoration: none;
  align-items: center;
  display: block;
  width: 50%;
  height: auto;
  padding: 15px;
}

.navBar ul {
  display: flex;
  justify-content: space-between;
}

.navBar ul li {
  display:flex;
  list-style:none;
}

.navBar ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 0 0.5rem;
  border-radius: 0.5rem;

}

.navBar ul li a:not(.active):hover {
  background-color: #FFF9C4;
}

.navBar .menu{
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  max-height: 100px;
  align-items: center;
}

@media (max-width: 480px) {

  .navBar .menu {
    display:flex;
    max-height: 50px;
  }

  .navBar {
    flex-direction: column;
    align-items: start;
  }

  .navBar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .navBar ul.open {
    display:flex;
  }

  .navBar ul li {
    width: 100%;
    text-align: center;
  }

  .navBar ul li a {
    margin: 0.2rem 0.5rem;
  }
}



