.LogoImg {
    justify-content: flex-start;
    max-height: 100px;
    padding: 15px;
}

.navbar {
    display:flex;
    background-color: #e7eced;
    align-items: right;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    background-color: #e7eced;
}

