.input-group {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.input-group input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  padding-right: 2.5rem; /* space for eye icon */
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
}

.error {
  color: #cc0000;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.signup-btn {
  width: 100%;
  padding: 0.75rem;
  font-weight: 700;
  background-color: #A7E8BD;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.signup-btn:hover {
  background-color: #218838;
  color:white;
}

.login-redirect {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.95rem;
}

.login-redirect a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.login-redirect a:hover {
  text-decoration: underline;
}